@using System.Web.Optimization
@using BootstrapSupport
@model List<MiniDropbox.Web.Models.DiskContentModel>

@{
    ViewBag.Title = "Contenido Guardado";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}


<h4> Archivos Guardados</h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model[0].VisibleProperties())
            {
                <th>
                    @property.GetLabel().ToSeparatedWords()
                </th>
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            <li>@Html.ActionLink("Mover", "Move", "Disk")</li>
                            <li>@Html.ActionLink("Compartir", "Share", "Disk")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Borrar", "Delete", "Disk")</li>
                               
                        }
                    </ul>
                </div>

            </td>
        </tr>
            index++;
    }

</table>
<p>
    @Html.ActionLink("Subir Archivo", "Upload", "Disk", new {@class = "btn"})

</p>
<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>


@section Scripts {
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnCreate').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#dialogDiv').modal('hide');
                        // Refresh:
                        // location.reload();
                    } else {
                        $('#dialogContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }

</script>
}